head,body,hr {
    margin:0px;
    padding:0px;
}

#head {
    background-color:green;
    height:5%;
    padding:0px;
    margin:0px;
}
#head #showinleft {
    float:left;
    width=30%;
    height=5%;
    padding-top:1%;
    padding-left:2%;
    background-color:blue;
}
#head #showinright {
    float:right;
    width=30%;
    height=5%;
    padding-top:1%;
    padding-right:3%;
    background-color:yellow;
}
#body {
    height:85%;
}
#tail {
    background-color:red;
    height:10%;
}
